.list.page
  form.edit-list
    textarea.text-field.list-text(
      rows='1'
      autocomplete='off'
      readonly='{{#unless currentUser}}readonly{{/unless}}'
      placeholder='Type new content ...')
      | #{text}

  .info
    if isOwner
      button.toggle-private
        if private
          span.glyphicon.glyphicon-lock
        else
          span.glyphicon.glyphicon-share

    span.owner #{username}
    span.date last updated{{formatDate updatedAt}}

  if currentUser
    form.new-task
      textarea.text-field(rows='1' name='text' placeholder='Type to add ...')

  table.tasks
    each tasks
      +task