li.task(class='{{#if checked}}checked{{/if}}')
  button.delete &times;
  input.toggle-checked(type='checkbox' checked='#{checked}')
  if isOwner
    button.toggle-private
      if private
        | Private
      else
        | Public

  span.text
    unless isOwner
      strong #{username} -

    form.edit-task
      input(
        type='text'
        name='text'
        value='#{text}'
        autocomplete='off'
        placeholder='Type new content ...')