tr.task(class='{{#if checked}}checked{{/if}}')
  td.prefix
    input.toggle-checked(type='checkbox' checked='#{checked}')

  td.content
    span.text
      form.edit-task
        textarea.text-field(
          rows='1'
          autocomplete='off'
          placeholder='Type new content ...')
          | #{text}

  td.suffix
    button.delete &times;

    if isOwner
      button.toggle-private
        if private
          span.glyphicon.glyphicon-lock
        else
          span.glyphicon.glyphicon-share