tr.task(class='{{#if checked}}checked{{/if}}')
  td.prefix
    button.expand
      if expanded
        | &minus;
      else
        | &plus;
    input.toggle-checked(type='checkbox' checked='#{checked}')

  td.content
    span.text
      form.edit-task
        textarea.text-field(
          rows='1'
          autocomplete='off'
          placeholder='Type new content ...')
          | #{text}

  td.suffix
    button.delete &times;
    a.button(href="{{pathFor 'listsShow'}}")
      span.glyphicon.glyphicon-link

if expanded
  tr
    td
    td(colspan='2')
      form.new-task
        textarea.text-field(rows='1' name='text' placeholder='Add subtask...')
      table.tasks
        each children
          +task